.zelp-tile {
    border-radius: 12px;
    height: 280px;
    max-height: 280px;
    width: 160px;
    max-width: 160px;
    background: #fff;
    border: 1px solid #e0e0e0;
    cursor: pointer;
    text-align: center;
    float: left;
    margin: 20px 10px 20px 20px;
    .header-box {
        min-height: 200px;
        max-height: 200px;
        text-align: center;
        img {
            height: 200px;
        }
    }
    .body {
        width: 100%;
        margin-top: 4px;
    }
}
