.sider {
    .ant-layout-sider {
        height: 100vh;
        position: fixed;
    }
    .logo {
        display: flex;
        margin: 16px 0px;
        img {
            height: 64px;
            margin: 0px auto;
        }
    }
}
