.search-movie {
    height: calc(100vh - 64px);
    .search-box {
        display: flex;
        justify-content: center;
        padding: 16px 20px;
        .search-input {
            margin-right: 16px;
            display: flex;
            width: 400px;
        }
    }
    .result {
        display: flex;
        width: 100%;
        .result-title {
            padding: 16px 20px;
        }
        .database {
            width: 100%;
        }
        .omdb {
            width: 100%;
        }
    }
}

.search-filter {
    .row {
        display: flex;
        margin: 12px 0px;
        .ant-typography {
            width: 70px;
        }
        input {
            text-align: center;
        }
    }
}
