.movie-info {
    display: flex;
    width: 100%;
    .poster {
        width: 60%;
    }
    .info {
        width: 100%;
        margin: 0px 16px;
        .row {
            margin: 12px 0px;
            display: grid;
        }
    }
}
